<h1 class="card-title">Деревянные сборные <br> беседки для дачи</h1>

<p>Готовые и под заказ.Соберите сами за 1 день</p>

<div class="card-deck">

    <input type="text" placeholder="Пойск товары">


<button>Услуги</button>
    
</div>

<div class="row information">
    <div class="col-md-6">
        <div class="information__img">
            <img src="/img/570.jpg" alt="" >
        </div>
    </div>
    <div class="col-md-6">
        <div class="information__title">
            <h1>Make every <br> <span>interaction</span> count</h1>
            <p>Create an engaging and memorable experience for the <br> people you meet while saving your contact
                information
                <br> directly into their phone with OVOU smart business card. <br> Have them remember you long after
                the meeting is over.</p>
        </div>
    </div>
</div>

